.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}

.popup__container {
  position: relative;
  cursor: default;
}

.popup__form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 34px 36px 37px;
  border-radius: 10px;
  box-sizing: border-box;
}

.popup__text {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: black;
  margin: 0;
}

.popup__exit-button {
  background-image: url(../../images/delete.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  width: 32px;
  height: 32px;
  color: white;
  cursor: pointer;
  transition: .5s;
}

.popup__exit-button:hover {
  opacity: .6;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 90%;
  }

  .popup__form {
    width: 100%;
    padding: 25px 22px;
  }

  .popup__exit-button {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}