.navigation {
  display: flex;
  width: 100%;
  padding-left: 44px;
  gap: 16px;
}

.navigation__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link:hover {
  opacity: .5;
}

.navigation__profile {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: white;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: flex;
  gap: 13px;
  align-items: center;
}

.navigation__logo {
  background: url(../../images/profile_icon.svg) no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: #313131;
  border-radius: 6px;
  cursor: pointer;
}

.navigation__burger {
  display: none;
  background: url(../../images/burger.svg) no-repeat center;
  width: 38px;
  height: 38px;
  border: none;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navigation__profile:hover,
.navigation__burger:hover {
  opacity: .5;
}

@media screen and (max-width: 770px) {
  .navigation {
    display: none;
  }

  .navigation__profile {
    display: none;
  }

  .navigation__burger {
    display: block;
  }
}