.nav {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
}

.nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #303030;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  width: 96px;
  text-align: center;
  padding: 10px 0px;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav__link:hover {
  opacity: .5;
}

@media screen and (max-width: 590px) {
  .nav {
    gap: 6px;
    padding-bottom: 17px;
  }

  .nav__link {
    font-size: 10px;
    line-height: 16px;
    width: 82px;
    padding: 5px 0px;
    border-radius: 6px;
  }
}