@media (prefers-reduced-motion: no-preference) {
  .header__logo {
    animation: header__logo infinite 20s linear;
  }
}

@keyframes header__logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 18px calc((100% - 1140px)/2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__link {
  height: 38px;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header__link:hover {
  opacity: .5;
}


.header__nav {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__navlink {
  color: white;
  text-decoration: none;
  padding-right: 30px;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header__navlink:last-child {
  color: black;
  background-color: #3DDC84;
  padding: 8px 20px;
  border-radius: 3px;
}

.header__navlink:hover {
  opacity: .5;
}

@media screen and (max-width: 1150px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 590px) {
  .header {
    padding: 18px 14px;
  }
  
  .header__nav {
    font-size: 10px;
  }

  .header__navlink {
    padding-right: 14px;
  }

  .header__navlink:last-child {
    padding: 5px 12px;
  }
}