.auth {
  padding: 70px calc((100% - 396px)/2);
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 522px;
}

.auth__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 20px;
}

.auth__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin: 20px 0 10px;
}

.auth__input {
  padding: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  color: white;
  background: #2F2F2F;
  border-radius: 8px;
}

.auth__input:focus {
  outline: #555555 2px solid;
}

.auth__button {
  margin: auto 0 16px;
  background-color: #4285F4;
  color: white;
  border: none;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: .5s ease-in-out;
  border-radius: 3px;
}

.auth__button:hover {
  opacity: .8;
}

.auth__caption {
  color: #8B8B8B;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth__link {
  color: #4285F4;
  text-decoration: none;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.auth__link:hover {
  opacity: .7;
}

.auth__error {
  height: 17px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  display: block;
  visibility: hidden;
  padding-top: 3px;
}

.auth__error_visible {
  visibility: visible;
}

@media screen and (max-width: 770px) {
  .auth {
    padding: 230px calc((100% - 396px)/2);
  }
}

@media screen and (max-width: 420px) {
  .auth {
    padding: 56px 30px 30px;
    text-align: center;
  }

  .auth__form {
    text-align: left;
    height: 656px;
  }

  .auth__heading {
    text-align: center;
    margin: 50px 0 80px;
  }

  .auth__button {
    margin: auto 0 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .auth__caption {
    font-size: 12px;
    line-height: 15px;
  }
}