.footer {
  padding: 0 calc((100% - 1140px)/2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8B8B8B;
  padding: 79px 0 20px;
  text-align: center;
}

.footer__bottom {
  border-top: #424242 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  gap: 20px;
}

.footer__link {
  color: white;
  text-decoration: none;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.footer__link:hover {
  opacity: .5;
}

@media screen and (max-width: 1150px) {
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    padding: 0 10px;
  }
  
  .footer__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
  }

  .footer__links {
    font-size: 12px;
    line-height: 15px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 30px 0;
  }

  .footer__copyright {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
  }
}